data

# TeX

*.aux
*.bbl
*.blg
*.div
*.out
*.toc
*.pyg
*.gz
*.nav
*.snm
*.vrb

# Python
*.py[co]
*.pot

# Packages

*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

#Dev tools
.project
.pydevproject
.settings/
*.iml
.idea

# Backup files
*~
